@{
  ViewBag.Title = "Home Page";
}


@section scripts
{
  <script src="~/Scripts/index.js"></script>


}
<div class="row" style="margin-top: 20px;">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="url">Url to Generate</label>
        <input type="url" class="form-control" id="url" value="http://www.google.com">
      </div>

      <button type="button" class="btn btn-default" id="generateBtn">Generate Pdf</button>
    </form>
  </div>

</div>